.Container {
    margin-top: 12px;
}
.Password {
    margin-bottom: 44px;
}

.ConfirmPassword {
    margin-bottom: 60px;
}

.Button {
    margin-bottom: 12px;
}

.ButtonColor {
    background: var(--blue6);
    border-color: var(--blue6);
}

.ButtonNetwork svg {

    @media (max-width: 640px) {
        display: none;
    }
}
